:root {
    --grey: #e3e2df;
    --dark-blue: #5d001e;
    --blue: #9a1750;
    --light-blue: #f695c5;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: black;
    background-color: var(--grey);
    text-align: center;
}

header {
    text-align: center;
    padding: 2rem;
}

.scoreBtn-container {
    display: flex;
    justify-content: flex-start;
}

h1, h2 {
    margin-bottom: 0.625rem;
    font-weight: 500;
    line-height: 1.2;
}


.hide {
    display: none;
}

.answer {
    width: fit-content;
}

.answerBtn-container {
    align-items: center;
}

.questions-container {
    justify-content: center;
}

.answerBtn-container {
    justify-content: center;
    display: flex;
    flex-flow: column;
    text-align: center;
}

button {
    color: var(--grey);
    background-color: var(--dark-blue);
    padding: 2rem 14rem;
    margin: 5px;
    text-align: center;
    border-color: var(--dark-blue);
    border: none;
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background-color: var(--blue);
    border-color: var(--blue);
    box-shadow: 0 0 15px var(--light-blue);
}

#user-score {
    background-color: #c6c8ca;
    padding: 1rem 8rem;
    box-shadow: 0px 1px 6px 0px grey;
    font-size: 2rem;
}
